
.submit{
   
    width:30%;
    margin-top: 20px;
     margin-left:30%;

    background-color:rgb(21,28,57);
    text-align:center;
    
}
#perform{
  font-size:18px;
  background-color:rgb(21,101,216);
  font-size:15px;
  text-align:center;

  border-radius:4px;
  margin-bottom:7%;

}
#Input{
  width:60%;
  margin: 0 auto;
}
#Label{
  margin-top:10%;
}
@media only screen and (max-width: 900px) {
  .submit{
    margin-left:8%;
    margin-top: 20px;
        width:86%;
  
  }

  }

